:root{
  --light_grey: #cac8cb;
  --darck_green:#027232;
  --light_green: #91c711;
  --sky_blue:   #7fb7d2;
  --king_blue:  #179bc1;
  --blue: #007da4;
  --low_black: #414141;
  --white:  #ffffff;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
*{
  font-family: 'Roboto Mono', monospace;
}
.login{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
.form-container{
  display: grid;
  grid-auto-rows: auto 1fr auto;
  width: 300px;
  box-shadow: 0px 0px 10px 1px var(--darck_green);
  padding: 20px 20px;
}
.form{
  display: flex;
  flex-direction: column;
}
.form div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  background-color: var(--darck_green);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  background-color: var(--blue);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}